# Data visualization project

#### Gabriele Di Palma, Francesco Di Stefano, Francesco Tramontano

Import all fundamental libraries

In [2]:
import pandas as pd

Read Dataset

In [9]:
df_airplanes = pd.read_csv('International_Report_Departures.csv')

Quick look at dataset

In [10]:
df_airplanes.head()

,data_dte,Year,Month,usg_apt_id,usg_apt,usg_wac,fg_apt_id,fg_apt,fg_wac,airlineid,carrier,carriergroup,type,Scheduled,Charter,Total
0,05/01/2006,2006,5,12016,GUM,5,13162,MAJ,844,20177,PFQ,1,Departures,0,10,10
1,05/01/2003,2003,5,10299,ANC,1,13856,OKO,736,20007,5Y,1,Departures,0,15,15
2,03/01/2007,2007,3,10721,BOS,13,12651,KEF,439,20402,GL,1,Departures,0,1,1
3,12/01/2004,2004,12,11259,DAL,74,16271,YYZ,936,20201,AMQ,1,Departures,0,1,1
4,05/01/2009,2009,5,13303,MIA,33,11075,CMW,219,21323,5L,0,Departures,0,20,20

In the dataset we have 16 columns .....

Data cleaning